<ul class="edit-hours-list">
  <div class="day-group">
    <div class="hours"><li>
      <p>M</p>
      <div>
        <input type="time" value="13:30">
        <input type="time" value="16:00">
      </div>
    </li>
  </div>
  <div class="add-time">
    <button type="button" class="icon-button">
      <i class="material-symbols-outlined">add</i>
    </button>
  </div>
  <div class="is-24-hours">
    <input type="checkbox"></div>
  </div>
  <div class="day-group">
    <div class="hours">
      <li>
        <p>T</p>
        <div>
          <input type="time" value="13:30">
          <input type="time" value="16:00">
        </div>
      </li>
    </div>
    <div class="add-time">
      <button type="button" class="icon-button">
        <i class="material-symbols-outlined">add</i>
      </button>
    </div>
    <div class="is-24-hours">
      <input type="checkbox">
    </div>
  </div>
  <div class="day-group">
    <div class="hours">
      <li>
        <p>W</p>
        <div>
          <input type="time" value="13:30">
          <input type="time" value="16:00">
        </div>
      </li>
    </div>
    <div class="add-time">
      <button type="button" class="icon-button">
        <i class="material-symbols-outlined">add</i>
      </button>
    </div>
    <div class="is-24-hours">
      <input type="checkbox">
    </div>
  </div>
  <div class="day-group">
    <div class="hours">
      <li>
        <p>Th</p>
        <div>
          <input type="time" value="">
          <input type="time" value="">
        </div>
      </li>
    </div>
    <div class="add-time">
      <button type="button" class="icon-button">
        <i class="material-symbols-outlined">add</i>
      </button>
    </div>
    <div class="is-24-hours">
      <input type="checkbox">
    </div>
  </div>
  <div class="day-group">
    <div class="hours">
      <li>
        <p>F</p>
        <div>
          <input type="time" value="">
          <input type="time" value="">
        </div>
      </li>
    </div>
    <div class="add-time">
      <button type="button" class="icon-button">
        <i class="material-symbols-outlined">add</i>
      </button>
    </div>
    <div class="is-24-hours"><input type="checkbox">
    </div>
  </div>
  <div class="day-group">
    <div class="hours">
      <li>
        <p>S</p>
        <div>
          <input type="time" value="">
          <input type="time" value="">
        </div>
      </li>
    </div>
    <div class="add-time">
      <button type="button" class="icon-button">
        <i class="material-symbols-outlined">add</i>
      </button>
    </div>
    <div class="is-24-hours">
      <input type="checkbox">
    </div>
  </div>
  <div class="day-group">
    <div class="hours">
      <li>
        <p>Su</p>
        <div>
          <input type="time" value="">
          <input type="time" value="">
        </div>
      </li>
    </div>
    <div class="add-time">
      <button type="button" class="icon-button">
        <i class="material-symbols-outlined">add</i>
      </button>
    </div>
    <div class="is-24-hours">
      <input type="checkbox">
    </div>
  </div>
</ul>
